*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul,li,figure,h1,h2,h3,h4,h5,h6,a,p{
	margin:0;
    list-style: none;
    text-decoration: none;
}
img{
    width: 100%;
}
html{
	font-family: Roboto, sans-serif;	
}
body{
    position: relative;
}
/* ------------------HEADER----------------------- */
header{
    width: 100%;
    height: 92px;
    background-color: #2D1E0A;
    color: #D2A814;
    font-size: 30px;
    padding-top: 40px;
    position: absolute;
    z-index: 3;
}
header nav{
    float: right;
    margin-right: 40px;
}
header ul{
    width: 615px;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
header li{
    width: 205px;
    text-align: center;
    height: 50px;
    line-height: 50px;
}
header li:hover{
    transform: scale(1.1);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    color: #DDE4ED;
}
/* ------------------FIN HEADER------------------------- */

/* -------------------CONTAINER------------------------- */
#container{
    position: relative;
}
/* -----------------SECTION ACCUEIL--------------------- */
section{
    width: 100%;
    height: 1080px;
}
#accueil{
    background-image: url("images/accueil.jpg");
    background-position: center center;
    font-family: Mongolian Baiti;
    color: #A58827;
    position: relative;
}
.logo_acc{
    width: 210px;
    top: 17%;
    left: 8.5%;
    position: absolute;
    z-index: 2;
}
h1{
    margin: 205px 0 0 20%;
    font-size: 192px;
    white-space: pre-line;
    line-height: 160px;
}

/* ---------------FIN SECTION ACCUEIL------------------- */

#services{
    position: relative;
    border: red solid 1px;
}
#category{
    margin: 100px 0 0 4%;
}
.categ_serv{
    font-size: 40px;
    font-weight: bold;
    margin-top: 30px;
}
.categ_serv:active{
    color: #D2A814;
}
.serv{
    color: #2D1E0A;
    background-color: transparent !important;
}
.soucateg{
    margin: 15px 0 0 50px;
    font-size: 30px;
}
.serv:hover{
    color: #A58827;
    background-color: transparent !important;
}
.dec_mob{
    width: 60%;
    position: absolute;
    right: 0;
}
article{
    position: absolute;
    width: 80%;
    height: 70%;
    right: 0;
    top: 49.4%;
    transform: translateY(-50%);
    border: red solid 1px;
}
figcaption{
    position: absolute;
    font-size: 35px;
    border: red solid 1px;
    left: 4.8%;
    top: 90%;
    transform: translateY(-50%);
}

/* -----------------SECTION SERVICES-------------------- */


/* ---------------FIN SECTION SERVICES------------------ */

/* -----------------SECTION CONTACT--------------------- */

#contact{
    background: url("images/contact.jpg") no-repeat;
    background-size: contain;
    background-position: right;
}

/* -----------Formulaire----------- */

form{
    margin: 50px 0 0 4%;
    width: 700px;
    color: #2D1E0A;
}
label{
    height: 30px;
    line-height: 30px;
    font-size: 20px;
}
input{
    width: 100%;
    height: 35px;
    border-radius: 2px;
    outline: none !important;
    font-size: 20px;
}
input:focus{
    outline: none !important;
}
#ident{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
textarea{
    width: 100%;
    border-radius: 2px;
    outline: none !important;
}
textarea:focus{
    font-size: 20px;
    outline: none !important;
}
#check{
    margin-top: 20px;
    text-align: center;
}
.chekbox{
    width: 20px;
    height: 20px;
    background-color: #fff;
}
button{
    width: 150px;
    height: 40px;
    font-size: 120%;
    background-color: #2D1E0A;
    color: #D2A814;
    margin-top: 40px;
    border-radius: 2px;
    border: none;
}
button:hover{
    background-color: #C5C5C4 !important;
    color: #2D1E0A;
}
button:focus{
    background-color: #19120A;
    color: #A58827;
}
/* ------------------FIN SECTION CONTACT--------------------- */

/* ---------------------Propriétés COMMUNES------------------ */
.overflow{
    overflow: hidden;
}
.aligng{
    float: left;
}

.alignd{
    float: right;
}
h2{
    color: #AFA47E;
    font-size: 100px;
    font-weight: bold;
    padding-top: 60px;
    margin-left: 4%;
}
.width45_100{
    width: 45%;
}
.flex{
    display: flex;
    justify-content: space-evenly;
}
.top10px{
    margin-top: 10px;
}
/* Footer */

footer {
    background-color: #19120A;
    color: #A58827;
    height: 477px;
    font-size: 25px;
    display: flex;
}

footer li {
    list-style-type: none;
    line-height: 50px;
}

footer ul {
    display: block;
    padding-top: 155px;
    padding-right: 30%;
}

footer a {
    text-decoration: none;
    color: #A58827;
}

footer a:hover {
    text-decoration: none;
    color: #fff;
}

svg {
    height: 90px;
    padding: 40px 0px 0px 50px;
}

path.cls-1:hover {
    fill: #fff;
    zoom: 75%;
}

.center {
    justify-content: center;
    padding-right: 20%;
    padding-top: 155px;
    white-space: nowrap;
}

.start {
    justify-content: start;
    white-space: nowrap;
}

.end {
    justify-content: end;
}

footer p {
    padding-top: 155px;
    max-width: 215px!important;
    font-size: 25px;
}


/* Section Qui sommes-nous ? */

.qsn {
    background-color: #EBEBEB;
    position: relative;
}

.titre {
    position: absolute;
    z-index: 2;
    top: 5px;
    color: #AFA47E;
    font-size: 100px;
    /* padding-left: 248px; */
}

.qsn img {
    width: auto;
    height: 1240px;
    z-index: 1;
}

.texte {
    position: absolute;
    z-index: 3;
    top: 150px;
    color: #000;
    font-size: 40px;
    max-width: 900px;
    left: 1050px;
    text-align: left;
    font-family: roboto;
}