*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul,li,figure,h1,h2,h3,h4,h5,h6,a,p{
	margin:0;
    list-style: none;
    text-decoration: none;
}
img{
    width: 100%;
}
html{
	font-family: Roboto, sans-serif;
    scroll-behavior: smooth;
}
body{
    position: relative;
}
/* ------------------HEADER----------------------- */
header{
    width: 100%;
    height: 4.8vw;
    background-color: #2D1E0A;
    color: #D2A814;
    font-size: 1.5vw;
    padding-top: 2vw;
    position: absolute;
    z-index: 3;
}
header nav{
    float: right;
    margin-right: 2vw;
}
header ul{
    width: 32vw;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
header li{
    width: 10.7vw;
    text-align: center;
    height: 2.6vw;
    line-height: 2.6vw;
}
header li a{
    color: #D2A814;
}
header li:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
    transition-timing-function:cubic-bezier(0.1,0.5,0.8,1);
    color: #DDE4ED;
}
header li:hover >a{
    color: #DDE4ED;
}
/* ------------------FIN HEADER------------------------- */

/* -------------------CONTAINER------------------------- */
#container{
    position: relative;
}
/* -----------------SECTION ACCUEIL--------------------- */
section{
    width: 100%;
    height: 56.25vw;
}
#accueil{
    background-image: url("images/accueil.jpg");
    background-position: center center;
    font-family: Mongolian Baiti;
    color: #A58827;
    position: relative;
}
.logo_acc{
    width: 10.9vw;
    top: 17%;
    left: 8.5%;
    position: absolute;
    z-index: 2;
}
h1{
    margin: 10.7vw 0 0 20%;
    font-size: 10vw;
    white-space: pre-line;
    line-height: 8.33vw;
}

/* ---------------FIN SECTION ACCUEIL------------------- */

/* -----------------SECTION SECTION QUI SOMMES NOUS ?--- */

#qsn {
    background: url("images/app.jpg") no-repeat;
    background-color: #EBEBEB;
    background-size: contain;
    background-position: left;
    position: relative;
}
.texte {
    position: absolute;
    color: #000;
    font-size: 1.7vw;
    width: 50%;
    text-align: left;
    font-family: roboto;
    left:70%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
}

/* ---------------FIN SECTION ACCUEIL------------------- */

/* -----------------SECTION SERVICES-------------------- */

#services{
    background-color: #E9DDB4;
    position: relative;
}
.mesureimg{
    background: url("images/mesure.jpg") no-repeat;
    background-size: contain;
    background-position: right;
}
#categback{
    position: absolute;
    background-color: #fff;
    width: 22vw;
    height: 100%;
    top: 0;
    left: 3%;
    z-index: 1;
}
#category{
    position: relative;
    margin: 5.2vw 0 0 4%;
    z-index: 3;
}
.categ_serv{
    font-size: 2vw;
    font-weight: bold;
    margin-top: 1.6vw;
}
.categ_serv:active{
    color: #D2A814;
}
.serv{
    color: #2D1E0A;
}
.soucateg{
    margin: 0.7vw 0 0 2.6vw;
    font-size: 1.6vw;
}
.serv:hover{
    color: #A58827;
}
article{
    position: absolute;
    width: 80%;
    height: 70%;
    right: 0;
    top: 49.4%;
    transform: translateY(-50%);
}
.dec_mob{
    width: 55%;
    position: absolute;
    right: 0;
}
figcaption{
    position: absolute;
    font-size: 1.8vw;
    left: 10%;
    top: 90%;
    transform: translateY(-50%);
}
.mesu_capt{
    position: absolute;
    width: 31vw;
    font-size: 1.8vw;
    white-space: pre-line;
    text-align: justify;
    left: 10%;
    top: 50%;
    transform: translate(0%,-50%);
}
/* -----------------SECTION SERVICES-------------------- */


/* ---------------FIN SECTION SERVICES------------------ */

/* -----------------SECTION CONTACT--------------------- */

#contact{
    background: url("images/contact.jpg") no-repeat;
    background-size: contain;
    background-position: right;
}

/* -----------Formulaire----------- */

form{
    margin: 2.6vw 0 0 4%;
    width: 36.5vw;
    height: auto;
    color: #2D1E0A;
}
label{
    height: 1.6vw;
    line-height: 1.6vw;
    font-size: 1.3vw;
}
input{
    width: 100%;
    height: 1.8vw;
    border-radius: 0.2vw;
    outline: none !important;
    font-size: 1vw;
}
input:focus{
    outline: none !important;
}
#ident{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
textarea{
    width: 100%;
    height: 10vw;
    border-radius: 0.2vw;
    outline: none !important;
}
textarea:focus{
    font-size: 1vw;
    outline: none !important;
}
#check{
    margin-top: 1vw;
    text-align: center;
}
.chekbox{
    width: 1vw;
    height: 1vw;
    background-color: #fff;
}
button{
    background-color: #2D1E0A;
    color: #D2A814;
    width: 7.8vw;
    height: 2vw;
    font-size: 1vw;
    font-weight: bold;
    margin-top: 1vw;
    border-radius: 0.2vw;
    border: none;
}
button:hover{
    background-color: #C5C5C4;
    color: #2D1E0A;
}
button:focus{
    background-color: #19120A;
    color: #A58827;
}
/* ------------------FIN SECTION CONTACT--------------------- */

#btt{
    height: 8vw;
    position: fixed;
    bottom: 2vw;
    right: 2vw;
    background-color: transparent !important;
    opacity: 60%;
    z-index: 99;
}
#btt a{
    transition: all 2s;
}
#btt:hover{
    opacity: 100%;
}
/* Footer */

footer {
    background-color: #19120A;
    color: #A58827;
    font-size: 1.3vw;
    padding: 2vw;
}
#menufoot{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}
footer li {
    list-style-type: none;
    line-height: 2.6vw;
}

footer p {
    font-size: 1.3vw;
    white-space: pre-line;
    line-height: 2.6vw;
}
footer a {
    text-decoration: none;
    color: #A58827;
}

footer a:hover {
    text-decoration: none;
    color: #fff;
}

svg {
    height: 100%;
    fill:#ce9e32;
}
#logo_foot{
    width: 3vw;
}
#logo_foot:hover >svg{
    fill: #fff;
    zoom: 75%;
}
/* ---------------------Propriétés COMMUNES------------------ */
.overflow{
    overflow: hidden;
}
.aligng{
    float: left;
}

.alignd{
    float: right;
}
h2{
    position: relative;
    color: #AFA47E;
    font-size: 5.2vw;
    font-weight: bold;
    padding-top: 3.1vw;
    margin-left: 4%;
    z-index: 2;
}
.width45_100{
    width: 45%;
}
.flex{
    display: flex;
    justify-content: space-evenly;
}
.top05vw{
    margin-top: 0.5vw;
}
.hyde{
    display: none;
}